<h1 class="text-center">Person Table</h1>

<div class="table__container">
    <table class=table
           [formGroup]="formGroup">
        <thead>
            <th>№</th>
            <th>ФИО</th>
            <th>пол</th>
            <th>дата рождения</th>
            <th>В браке</th>
            <th>ВУЗ</th>
            <th>Номер телефона</th>
            <th>Действия</th>
        </thead>

        <tbody>
            <tr *ngFor="let person of people$ | async; index as idx; trackBy: trackByFn">

                <!-- Id column -->
                <td class="text-right">{{idx + 1}}</td>

                <!-- FIO column -->
                <td [class.invalid]="isEditingPerson(person.id) && formGroup.controls['FIO'].invalid">

                    <ng-container *ngIf="isEditingPerson(person.id); else showFIO">
                        <input type="text"
                               formControlName="FIO">
                    </ng-container>

                    <ng-template #showFIO>
                        {{person.FIO}}
                    </ng-template>
                </td>

                <!-- Gender column -->
                <td [class.invalid]="isEditingPerson(person.id) && formGroup.controls['gender'].invalid">

                    <ng-container *ngIf="isEditingPerson(person.id); else showGender">
                        <label>
                            <input type="radio"
                                   formControlName="gender"
                                   value="Мужчина">
                            Мужчина
                        </label>
                        <br>
                        <label>
                            <input type="radio"
                                   formControlName="gender"
                                   value="Женщина">
                            Женщина
                        </label>
                    </ng-container>

                    <ng-template #showGender>
                        {{person.gender}}
                    </ng-template>
                </td>

                <!-- DateOfBirth column -->
                <td class="text-center"
                    [class.invalid]="isEditingPerson(person.id) && formGroup.controls['dateOfBirth'].invalid">

                    <ng-container *ngIf="isEditingPerson(person.id); else showDateOfBirth">
                        <input type="date"
                               [value]="formGroup.controls['dateOfBirth'].value | date: 'yyyy-MM-dd'"
                               formControlName="dateOfBirth">
                    </ng-container>

                    <ng-template #showDateOfBirth>
                        {{person.dateOfBirth | date:'dd-MM-yyyy'}}
                    </ng-template>
                </td>

                <!-- Married column -->
                <td [class.danger]="isEditingPerson(person.id) && formGroup.controls['married'].invalid">

                    <ng-container *ngIf="isEditingPerson(person.id); else showMarried">
                        <label>
                            <input type="checkbox"
                                   formControlName="married">
                            В браке
                        </label>
                    </ng-container>

                    <ng-template #showMarried>
                        {{person.married ? 'Да': 'Нет'}}
                    </ng-template>
                </td>

                <!-- University column -->
                <td [class.invalid]="isEditingPerson(person.id) && formGroup.controls['university'].invalid">

                    <ng-container *ngIf="isEditingPerson(person.id); else showUniversity">
                        <select formControlName="university">
                            <option *ngFor="let item of university$ | async"
                                    [value]="item">{{item}}</option>
                        </select>
                    </ng-container>

                    <ng-template #showUniversity>
                        {{person.university}}
                    </ng-template>
                </td>

                <!-- PhoneNumber column -->
                <td class="text-right"
                    [class.invalid]="isEditingPerson(person.id) && formGroup.controls['phoneNumber'].invalid">

                    <ng-container *ngIf="isEditingPerson(person.id); else showPhoneNumber">
                        <input type="text"
                               class="text-right"
                               formControlName="phoneNumber"
                               placeholder="format: +9009000000">
                    </ng-container>

                    <ng-template #showPhoneNumber>
                        {{person.phoneNumber}}
                    </ng-template>
                </td>

                <!-- Actions column -->
                <td class="text-center">
                    <button class="btn btn-warning rounded pointer"
                            [disabled]="savingPerson && isEditingPerson(person.id) || editingPersonId"
                            (click)="edit(person.id)">edit</button>
                    <button [disabled]="savingPerson || !isEditingPerson(person.id) || formGroup.invalid"
                            class="btn btn-primary rounded pointer"
                            (click)="save()">save</button>
                    <button class="btn btn-white rounded pointer"
                            [disabled]="savingPerson|| !isEditingPerson(person.id)"
                            (click)="stopEditing()">cancel</button>
                    <button class="btn btn-danger rounded pointer"
                            (click)="delete(person.id)">delete</button>
                    <button class="btn btn-success rounded pointer"
                            (click)="add()">add</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>