<div class="sidebar">
    <ul class="list">
        <li uiSref="home"
            class="list-item pointer">
            <img src="assets/home.png"
                 class="menu-icon"
                 alt="home">
            <a>Home</a>
        </li>
        <li uiSref="people"
            class="list-item pointer">
            <img src="assets/people.png"
                 class="menu-icon"
                 alt="people">
            <a>People</a>
        </li>
    </ul>
</div>

<div class="content">
    <ui-view></ui-view>
</div>