/* You can add global styles to this file, and also import other style files */
body {
    padding: 0;
    margin: 0;
}

.table__container {
    overflow-x: auto
}

.table {
    font-family: sans-serif;
    border-collapse: collapse;
    font-size: 12px;
    width: 100%;
    overflow-y: scroll;
}

.table td, .table th {
    border: 1px solid #ddd;
    padding: 5px;
}
  
.table tr:nth-child(even){background-color: #f2f2f2;}
  
.table tr:hover {background-color: #ddd;}
  
.table th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #385e0e;
    color: white;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.w-100 {
    width: 100%;
}

.rounted {
    border-radius: 5px;
}

.pointer {
    cursor: pointer;
}

.invalid {
    background-color: rgb(247, 157, 157);
}

.btn {
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    min-width: 50px;
}

.btn:disabled {
    border: 1px solid rgb(170, 170, 170);
    color: rgb(170, 170, 170);
    background-color: rgb(230, 228, 228);
}

.btn-warning {
    color: black;
    background-color: #FFC107;
}

.btn-danger {
    background-color: #B32B38;
}

.btn-primary {
    background-color: #46b188;
}

.btn-success {
    background-color: green;
}

.btn-white {
    color: black;
    background-color: #fff;
}